.container {
  width: 250px;
  margin: 0px 30px 50px 30px;
  align-items: center;
  gap: 50px;
}

.image {
  object-fit: cover;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.date {
  color: gray;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
}

.tag {
  font-family: 'Varela Round', sans-serif;
  font-size: 11px;
  color: var(--highlightText);
  line-height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .image {
    display: none;
  }
}
